Repository OBELISK-TEAM/OBELISK, pull requests merged in 2024-07, with the labels that each got.

#13 feat(db)[OK-21] Add backend & db integration, base schemas
  .gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/boards/boards.controller.ts
  backend/src/boards/boards.module.ts
  backend/src/boards/boards.service.ts
  backend/src/enums/user.auth.provider.ts
  backend/src/enums/user.role.ts
  backend/src/main.ts
  backend/src/schemas/board.schema.ts
  backend/src/schemas/user.schema.ts
  backend/src/shared/http.error.filter.ts
  backend/src/shared/logging.interceptor.ts
  backend/src/shared/validation.pipe.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.dto.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.ts
  backend/tsconfig.json
Labels: backend, feature

#18 feat(CRUD)[OK-58] Add implementation of base endpoints for user, board & slide modules
  backend/package-lock.json
  backend/package.json
  backend/src/boards/boards.controller.ts
  backend/src/boards/boards.module.ts
  backend/src/boards/boards.service.ts
  backend/src/main.ts
  backend/src/modules/boards/boards.controller.ts
  backend/src/modules/boards/boards.dto.ts
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/boards.service.ts
  backend/src/modules/slides/slides.controller.ts
  backend/src/modules/slides/slides.dto.ts
  backend/src/modules/slides/slides.module.ts
  backend/src/modules/slides/slides.service.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.module.ts
  backend/src/modules/users/users.service.ts
  backend/src/schemas/board.schema.ts
  backend/src/schemas/slide.schema.ts
  backend/src/schemas/user.schema.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.dto.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.ts
Labels: backend, feature

#22 ci(github): [OK-60]: Add commit-checker and modify prepare-commit-msg…
  .githooks/prepare-commit-msg
  .github/workflows/conventional-commit-checker.yml
Labels: technical, CI

#27 feat(auth)[OK-53] Add basic auth logic
  backend/.eslintrc.js
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/decorators/users.decorator.ts
  backend/src/modules/auth/guards/jwt.auth.guard.ts
  backend/src/modules/auth/guards/local.auth.guard.ts
  backend/src/modules/auth/strategies/jwt.strategy.ts
  backend/src/modules/auth/strategies/local.strategy.ts
  backend/src/modules/auth/users/users.controller.ts
  backend/src/modules/auth/users/users.dto.ts
  backend/src/modules/auth/users/users.module.ts
  backend/src/modules/auth/users/users.service.ts
  backend/src/modules/boards/boards.controller.ts
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/boards.service.ts
  backend/src/modules/slides/slides.controller.ts
  backend/src/modules/slides/slides.service.ts
  backend/src/schemas/board.schema.ts
  backend/src/schemas/user.schema.ts
  backend/src/shared/filters/http.error.filter.ts
  backend/src/shared/interceptors/logging.interceptor.ts
  backend/src/shared/interfaces/Payload.ts
  backend/src/shared/interfaces/SafeUserDoc.ts
  backend/src/shared/validation.pipe.ts
Labels: backend, feature

#29 ci(git/github)[OK-68]: Update commit checker and git hook
  .githooks/prepare-commit-msg
  .github/workflows/conventional-commit-checker.yml
Labels: technical, CI

#23 chore(docker-envs): [OK-61]: Add envs handling
  .gitignore
  backend/Dockerfile
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/modules/auth/auth.module.ts
  docker-compose.yml
  frontend/Dockerfile
  frontend/package.json
Labels: technical, CI, docker

#31 ci(git/github)[OK-72] Update commit checker & githook
  .githooks/prepare-commit-msg
  .github/workflows/conventional-commit-checker.yml
  docs/CONTRIBUTING.md
Labels: technical, CI

#30 feat(docs)[OK-71] Add INSTALL.md
  docs/INSTALL.md
Labels: documentation, technical

#34 chore(swagger)[OK-70] Add Swagger
  backend/package-lock.json
  backend/package.json
  backend/src/main.ts
  docs/API.md
Labels: documentation, technical, backend

#25 feat(schemas)[OK-63] Add SlideObject schema
  backend/src/modules/slides/slides.dto.ts
  backend/src/schemas/slide-object.schema.ts
  backend/src/schemas/slide.schema.ts
  backend/src/shared/interfaces/SlideObjectShadow.ts
Labels: backend, feature
