Repository OBELISK-TEAM/OBELISK, pull requests merged in 2024-05, with the labels that each got.

#8 chore(docker)[OK-35] Dockerize
  backend/.dockerignore
  backend/Dockerfile
  backend/src/main.ts
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
Labels: technical, docker

#9 feat(startpage)[OK-39] Add sections to start page
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/best-logo.png
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/startpage/Header.tsx
  frontend/src/components/startpage/JoinUs.tsx
  frontend/src/components/startpage/MissionStatement.tsx
  frontend/src/components/startpage/NextSteps.tsx
  frontend/src/components/startpage/startpage.module.css
  frontend/src/components/ui/button.tsx
  frontend/tailwind.config.ts
Labels: frontend

#10 docs(contributing)[OK-37] Add CONTRIBUTING.md
  docs/CONTRIBUTING.md
Labels: documentation

#11 ci(github)[OK-47] Fix frontend CI
  .github/workflows/frontend.yml
Labels: fix, technical, CI
