Repository OBELISK-TEAM/OBELISK, pull requests merged in 2024-08, with the labels that each got.

#24 feat(layout)[OK-41] Add pages: login, signup, signup with email
  frontend/package-lock.json
  frontend/package.json
  frontend/public/non-lucid-icons/google-icon.svg
  frontend/src/app/auth/login/LoginCard.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/signup/SignupCard.tsx
  frontend/src/app/auth/signup/email/EmailSignupCard.tsx
  frontend/src/app/auth/signup/email/page.tsx
  frontend/src/app/auth/signup/page.tsx
  frontend/src/components/AuthHeaderButtons.tsx
  frontend/src/components/ExpandedLogoAbbreviation.tsx
  frontend/src/components/non-lucid-icons/GoogleIcon.tsx
  frontend/src/components/ui/separator.tsx
Labels: frontend, feature

#36 feat(google auth)[OK-55] Add OAuth 2.0 with state approach
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/guards/google.auth.guard.ts
  backend/src/modules/auth/serializers/session.serializer.ts
  backend/src/modules/auth/strategies/google.strategy.ts
  backend/src/modules/auth/users/users.service.ts
  backend/src/schemas/slide-object.schema.ts
  backend/src/shared/interfaces/GoogleUser.ts
Labels: backend, feature

#37 refactor(schema)[OK-76] Add schema docs & improve return vals
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/users/users.controller.ts
  backend/src/modules/boards/boards.controller.ts
  backend/src/modules/boards/boards.service.ts
  backend/src/modules/slides/slides.controller.ts
  backend/src/modules/slides/slides.service.ts
  backend/src/schemas/board.schema.ts
  backend/src/shared/interfaces/AuthToken.ts
Labels: backend

#33 chore(docker)[OK-65] Dockerize mongodb, fix frontend Dockerfile
  backend/src/app.module.ts
  docker-compose.yml
  docs/INSTALL.md
  frontend/Dockerfile
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
Labels: documentation, technical, docker

#39 fix(OAuth)[OK-87] Improve OAuth 2.0 on backend
  backend/package-lock.json
  backend/package.json
  backend/src/enums/user.auth.provider.ts
  backend/src/main.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/guards/google.auth.guard.ts
  backend/src/modules/auth/serializers/session.serializer.ts
  backend/src/modules/auth/strategies/google.strategy.ts
  backend/src/modules/auth/users/users.service.ts
  backend/src/schemas/user.schema.ts
Labels: fix, backend

#41 ci(docker)[OK-79] Add docker build check to CI
  .github/workflows/docker.yml
Labels: technical, CI, docker

#40 chore(docker)[OK-85] Reduce Docker images sizes
  backend/.dockerignore
  backend/Dockerfile
  backend/package.json
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package.json
Labels: technical, docker, dependencies

#43 style[OK-90] Reformat the code using prettier
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/modules/auth/users/users.dto.ts
  backend/src/modules/boards/boards.dto.ts
  backend/src/modules/slides/slides.dto.ts
  backend/src/schemas/slide.schema.ts
  backend/src/shared/interfaces/SlideObjectShadow.ts
  docker-compose.yml
  docs/INSTALL.md
Labels: backend

#45 feat(slide-object)[OK-98] Add DTO, export complex types
  backend/.prettierrc
  backend/src/modules/slide-objects/slide-objects.dto.ts
  backend/src/schemas/slide-object.schema.ts
  backend/src/shared/interfaces/SlideObjectFilter.ts
  backend/src/shared/interfaces/SlideObjectPath.ts
  backend/src/shared/interfaces/SlideObjectShadow.ts
  backend/src/shared/interfaces/SlideObjectTextStyles.ts
Labels: backend, feature

#42 feat(Auth)[OK-57] Implementation and Refinement of Internal and Google Authentication
  backend/src/shared/interfaces/AuthResponse.ts
  docker-compose.yml
  frontend/Dockerfile
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/MessageReceiver.tsx
  frontend/src/app/Providers.tsx
  frontend/src/app/api/auth/google/route.ts
  frontend/src/app/api/auth/login/route.ts
  frontend/src/app/api/auth/logout/route.ts
  frontend/src/app/api/auth/signup/route.ts
  frontend/src/app/auth/login/LoginCard.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/signup/SignupCard.tsx
  frontend/src/app/auth/signup/email/EmailSignupCard.tsx
  frontend/src/app/auth/signup/email/page.tsx
  frontend/src/app/auth/signup/page.tsx
  frontend/src/app/board/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/user-boards/page.tsx
  frontend/src/components/ErrorList/ErrorList.tsx
  frontend/src/components/Header.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/enums/AuthAction.ts
  frontend/src/enums/AuthMessage.ts
  frontend/src/hooks/auth/useAuthForm.ts
  frontend/src/hooks/auth/useGoogleAuth.ts
  frontend/src/hooks/auth/useHandleAuth.ts
  frontend/src/hooks/board/canvas-menu.tsx
  frontend/src/hooks/board/useCanvas.tsx
  frontend/src/hooks/board/useCanvasEventHandlers.tsx
  frontend/src/hooks/board/useColorAndSize.tsx
  frontend/src/hooks/board/useDrawingMode.tsx
  frontend/src/hooks/board/useFileClick.tsx
  frontend/src/hooks/board/useFileHandling.tsx
  frontend/src/hooks/board/useKeydownListener.tsx
  frontend/src/hooks/board/useMenuActions.tsx
  frontend/src/hooks/board/useMenuData.tsx
  frontend/src/hooks/board/useUndoRedo.tsx
  frontend/src/interfaces/api-error.ts
  frontend/src/interfaces/auth-form.ts
  frontend/src/interfaces/auth-message.ts
  frontend/src/interfaces/canva-interfaces.tsx
  frontend/src/interfaces/handle-auth.ts
  frontend/src/lib/authApi.ts
  frontend/src/lib/fabricCanvasUtils.ts
  frontend/src/lib/handleApiError.ts
  frontend/src/middleware.ts
Labels: frontend

#46 feat(slide-objects)[OK-99] Add module, service and controller; fix DTO and schema
  backend/src/app.module.ts
  backend/src/modules/auth/users/users.service.ts
  backend/src/modules/slide-objects/slide-objects.controller.ts
  backend/src/modules/slide-objects/slide-objects.dto.ts
  backend/src/modules/slide-objects/slide-objects.module.ts
  backend/src/modules/slide-objects/slide-objects.service.ts
  backend/src/modules/slides/slides.module.ts
  backend/src/modules/slides/slides.service.ts
  backend/src/schemas/slide-object.schema.ts
  backend/src/schemas/user.schema.ts
Labels: fix, backend, feature

#47 ci(github-workflows)[OK-88] Add a step for veryfing deps; refactor
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  backend/.depcheckrc
  backend/package-lock.json
  backend/package.json
  backend/src/modules/slide-objects/slide-objects.dto.ts
  backend/src/schemas/slide-object.schema.ts
  backend/test/app.e2e-spec.ts
  frontend/package-lock.json
  frontend/package.json
Labels: technical, CI

#48 feat(role auth)[OK-101] Add role based auth
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/decorators/roles.decorator.ts
  backend/src/modules/auth/guards/jwt.auth.guard.ts
  backend/src/shared/interfaces/AuthResponse.ts
Labels: backend, feature

#49 refactor(users mo)[OK-103] Move users dir from auth to modules
  backend/src/app.module.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/strategies/google.strategy.ts
  backend/src/modules/auth/strategies/jwt.strategy.ts
  backend/src/modules/auth/strategies/local.strategy.ts
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/boards.service.ts
  backend/src/modules/slide-objects/slide-objects.module.ts
  backend/src/modules/slide-objects/slide-objects.service.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.dto.ts
  backend/src/modules/users/users.module.ts
  backend/src/modules/users/users.service.ts
Labels: fix, backend

#50 feat(board)[OK-59] Implement board eraser
  frontend/.depcheckrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/board/page.tsx
  frontend/src/components/board/Sidebar.tsx
  frontend/src/components/board/SidebarItem.tsx
  frontend/src/enums/MenuActions.ts
  frontend/src/hooks/board/useMenuData.tsx
  frontend/src/lib/fabricCanvasUtils.ts
Labels: frontend, feature

#52 feat(dark theme)[OK-64] Implement dark theme
  frontend/package-lock.json
  frontend/package.json
  frontend/public/logo-lite-darkTheme.png
  frontend/public/logo-lite-lightTheme.png
  frontend/public/non-lucid-icons/google-icon.svg
  frontend/src/app/Providers.tsx
  frontend/src/app/board/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/user-boards/page.tsx
  frontend/src/components/AppLogo.tsx
  frontend/src/components/AuthHeaderButtons.tsx
  frontend/src/components/BoardTable.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/TabButtons.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/components/ToolbarLabel.tsx
  frontend/src/components/board/HorizontalMenu.tsx
  frontend/src/components/board/Sidebar.tsx
  frontend/src/components/board/SidebarItem.tsx
  frontend/src/components/board/Toolbar.tsx
  frontend/src/components/non-lucid-icons/GoogleIcon.tsx
  frontend/src/components/ui/button.tsx
  frontend/tailwind.config.ts
Labels: frontend, feature

#51 fix(user id)[OK-104] Correct obtaining user id
  backend/src/modules/boards/boards.controller.ts
  backend/src/modules/slide-objects/slide-objects.controller.ts
  backend/src/modules/slide-objects/slide-objects.dto.ts
  backend/src/modules/slide-objects/slide-objects.service.ts
Labels: fix, backend

#54 refactor[OK-102] Change numerical HTTP errors to HttpStatus constants
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/strategies/google.strategy.ts
  backend/src/modules/auth/strategies/jwt.strategy.ts
  backend/src/modules/auth/strategies/local.strategy.ts
  backend/src/modules/boards/boards.service.ts
  backend/src/modules/slides/slides.service.ts
  backend/src/modules/users/users.service.ts
Labels: backend, refactor

#58 fix(docker)[OK-109] Downgrade node version to 21 in Dockerfile
  frontend/Dockerfile
Labels: fix, technical, frontend, docker, priority

#57 feat(toast notifications)[OK-96] Implement general message management
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/MessageReceiver.tsx
  frontend/src/app/Providers.tsx
  frontend/src/app/auth/login/LoginCard.tsx
  frontend/src/app/auth/signup/SignupCard.tsx
  frontend/src/app/auth/signup/email/EmailSignupCard.tsx
  frontend/src/components/ErrorList/ErrorList.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/toastAuthorizationResult.tsx
  frontend/src/enums/AuthMessage.ts
  frontend/src/enums/ToastType.ts
  frontend/src/hooks/auth/useAuthForm.ts
  frontend/src/hooks/auth/useHandleAuth.ts
  frontend/src/interfaces/auth-form.ts
  frontend/src/interfaces/auth-message.ts
  frontend/src/interfaces/handle-auth.ts
  frontend/src/lib/toastsUtils.tsx
  frontend/src/providers/ToasterWrapper.tsx
Labels: frontend, feature, refactor

#56 fix(boards)[OK-106] Add guards for boards controller
  backend/src/enums/board.permission.ts
  backend/src/modules/boards/boards.controller.ts
  backend/src/modules/boards/boards.service.ts
  backend/src/modules/slide-objects/slide-objects.controller.ts
  backend/src/modules/slide-objects/slide-objects.dto.ts
  backend/src/modules/slide-objects/slide-objects.service.ts
  backend/src/modules/slides/slides.controller.ts
  backend/src/modules/slides/slides.dto.ts
  backend/src/modules/slides/slides.module.ts
  backend/src/modules/slides/slides.service.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.service.ts
  backend/src/schemas/slide-object.schema.ts
Labels: fix, backend

#63 feat(Zoom)[OK-111] Create Zoom functionality
  frontend/src/app/board/layout.tsx
  frontend/src/app/globals.css
  frontend/src/components/board/Canvas.tsx
  frontend/src/contexts/CanvasContext.tsx
  frontend/src/contexts/UndoRedoContext.tsx
  frontend/src/contexts/ZoomUIContext.tsx
  frontend/src/enums/ZoomOptions.ts
  frontend/src/interfaces/zoom-context.ts
Labels: frontend, feature

#59 feat(auth)[OK-92] Allow internal register when email registered by Google
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/users/users.dto.ts
  backend/src/modules/users/users.service.ts
  backend/src/schemas/user.schema.ts
Labels: backend, feature

#64 feat(response obj)[OK-107] Create response object methods for users & slides
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/boards/boards.controller.ts
  backend/src/modules/boards/boards.service.ts
  backend/src/modules/slide-objects/slide-objects.service.ts
  backend/src/modules/slides/slides.service.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.service.ts
  backend/src/schemas/board.schema.ts
  backend/src/schemas/slide-object.schema.ts
  backend/src/schemas/slide.schema.ts
  backend/src/schemas/user.schema.ts
  backend/src/shared/interfaces/response-objects/BoardResponseObject.ts
  backend/src/shared/interfaces/response-objects/UserResponseObject.ts
Labels: fix, backend, feature
